a {
  color: #4e5155;
  text-decoration: none;
}

img {
  height: 25vh;
}

h3 {
  margin-top: 2px;
}

#projects {
  display: flex;
  justify-content: center;
  transition-duration: 2s;
  transition-timing-function: ease;
}

#projects ul {
  list-style-type: none;
  margin-top: 30px;
  width: 90vw;
}

#projects li {
  height: 28vh;
  margin-top: 20px;
  padding: 10px;
  transition-duration: 1s;
  width: 100%;
}

#projects li:hover {
  background: #DDD;
  cursor: pointer;
  transition-duration: 1s;
}

#projects li img {
  float: left;
  margin-right: 15px;
  vertical-align: center;
}

#projects li p {
  color: #4e5155;
  font-family: serif;
  font-size: 1.1rem;
  padding-top: 1px;
  text-align: justify;
  margin: auto;
  width: 90%;
}
