aside {
  margin-top: 30px;
}

.icon {
  height: 5vh;
  margin: 0 10px;
}

.img-profile {
  height: 35vh;
}

#personal-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

#personal-info img {
  border-radius: 100%;
}

#personal-info p {
  margin: 5px;
}

.sobre {
  line-height: 3vh;
  padding-top: 20px;
  text-align: justify;
}

span {
  font-weight: 600;
}
