* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: whitesmoke;
}

div.msg>.bingo {
  border: 7px double;
  color: rebeccapurple;
  font-size: 5vw;
  left: 67%;
  padding: 1vw 1vw;
  position: absolute;
  top: 45%;
  transform: rotate(315deg);
}

body {
  align-items: center;
  color: rgb(94, 94, 94);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1em;
  height: calc(100vh - 15px);
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}

.bolinhas {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  position: relative;
  width: 60vw;
}

.balls {
  width: 5vw;
}

.btn {
  color: darkslategray;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.25vw 0.2vw;
}

.btn:hover {
  background-color: gray;
  color: white;
  transition: 0.8s;
}

.btns {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 60%;
}

.cartela {
  background-color: rgba(95, 158, 160, 0.2);
  border: 1px solid gray;
  border-radius: 15px;
  border-spacing: 15px 4px;
  height: 100%;
  margin: 0 auto;
  padding: 15px 5px;
  width: 100%;
}

.cartelas-sorteadas {
  background-color: rgba(95, 158, 160, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 15vw;
  margin: 0;
  max-height: 13.5vw;
  overflow: auto;
  padding: 0.1vw;
  text-align: center;
  width: 10vw;
}

.title-list {
  color: darkslategray;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.5vw;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
}

.list li {
  border: none;
  border-bottom: 1px dotted gray;
  border-radius: 5px;
  font-size: 1.2vw;
  font-weight: 550;
  margin: 2px auto;
  padding: 1px;
  width: 70%;
}

ol.list {
  margin: 10px 5px 0 20px;
  padding-left: 0;
}

.conteudo-cartela {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10vh);
  position: absolute;
  right: 2vw;
  top: 2vw;
  width: 40vw;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;
}

footer {
  align-items: center;
  bottom: 0;
  color: whitesmoke;
  display: flex;
  font-size: 0.8vw;
  font-weight: 400;
  height: 3vh;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100vw;

  background-image: linear-gradient(to right,
      rgba(128, 128, 128, 0.3),
      rgba(0, 0, 0, 0.5),
      rgba(128, 128, 128, 0.3));
}

footer:hover {
  background-color: black;
  transition: 3s;
}

.g {
  background-color: rgba(0, 128, 0, 0.831);
  color: white;
}

.ganhador {
  -ms-animation: PULSE 2s infinite;
  -webkit-animation: PULSE 2s infinite;
  animation: PULSE 1.25s infinite;
  font-size: 28px;
  font-weight: 600;
  min-width: 16.5vw;
  width: 50%;

  /* Chrome, Safari, Opera */
  /* Internet Explorer */
  /* Standard Syntax */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes PULSE {
  0% {
    color: rgba(242, 150, 22);
  }

  110% {
    color: black;
  }
}

/* Internet Explorer */
@-ms-keyframes PULSE {
  0% {
    color: rgba(128, 197, 25);
  }

  110% {
    color: black;
  }
}

/* Standard Syntax */
@keyframes PULSE {
  0% {
    color: rgba(81, 157, 186);
  }

  105% {
    color: rgb(255, 0, 0);
  }
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 60vw;
}

header h1 {
  color: white;
  font-family: sans-serif;
  font-size: 2.3vw;
  margin: 1vw 0;
  text-shadow: rgb(30, 108, 111) 0px 1px 9px;
}

.i {
  background-color: rgba(255, 255, 0, 0.681);
  color: black;
}

.infos {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30vw;
}

.infos-table {
  border-spacing: 10px 5px;
  font-size: 16px;
  height: 100%;
  padding: 0 2.1vw;
  position: relative;
  text-align: center;
  width: 100%;
}

.infos-table th {
  font-size: 1.25vw;
}

.infos-table td {
  border: 1px solid black;
  border-radius: 5px;
  height: 2vw;
}

.infos-table .null {
  border: none;
}

.infos-table .part {
  text-align: right;
}

.input-bingo {
  border: 0.5px solid gray;
  border-radius: 5px;
  font-size: 16px;
  height: 4vh;
  letter-spacing: 1px;
  margin: 1vh 0;
  text-align: center;
  width: 60%;
}

div.letra {
  align-items: center;
  border: 2px solid gray;
  border-radius: 15px;
  bottom: 0;
  color: grey;
  display: flex;
  font-size: 18vw;
  height: 15vw;
  justify-content: center;
  min-height: 150px;
  min-width: 150px;
  text-align: center;
  width: 15vw;
}

div.sorteado {
  align-items: center;
  border: 2px solid gray;
  border-radius: 50%;
  bottom: 0;
  color: gray;
  display: flex;
  font-size: 13vw;
  height: 15vw;
  justify-content: center;
  min-height: 150px;
  min-width: 150px;
  width: 15vw;
}

.logo {
  display: flex;
  flex-direction: row;
  height: 10vw;
  justify-content: space-between;
  position: relative;
  text-align: center;
  width: 55vw;
}

.logo2 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 15vw;
}

.logo-ong {
  height: 100%;
}

main {
  align-items: end;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 4vh);
  justify-content: start;
  margin-top: 0;
  padding: 0vw;
  width: 100vw;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.n {
  background-color: rgba(0, 0, 0, 0.879);
  color: white;
}

.no {
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px 0px;
  color: white;
}

.nome {
  width: 90%;
}

.num td {
  background-color: white;
  border: 1px solid grey;
  font-size: 18px;
  font-weight: 600;
  padding: 1px 10px;
  text-align: center;
}

.o {
  background-color: rgba(255, 0, 0, 0.77);
  color: white;
}

.premios {
  font-weight: 600;
  width: 50%;
}

.rodada {
  width: 20%;
}

.roleta {
  width: 150px;
}

.sorteio {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40vh;
  justify-content: space-evenly;
  width: 100%;
}

.sorteio div {
  width: 15vw;
}

.sorteando {
  color: cadetblue;
  display: flex;
  font-size: 1vw;
  position: absolute;
  top: 0vh;
}

.valor {
  width: 20%;
}